---

import Card from "../Card/Card";
---

<section class="container grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 p-16 mx-auto my-0">
    <Card type="inspiration" img="/images/photo-1649762202604-cc7cf2737aa0.jpeg" heading="Empower" paragraph="Empower creators to unleash their wildest imaginations and showcase their unique artistry."/>
    <Card type="inspiration" img="/images/photo-1642388538891-38b2d14e750e.jpeg" heading="Connect" paragraph="Connect with fellow collectors and enthusiasts in a secure and dynamic environment."/>
    <Card type="inspiration" img="/images/photo-1652151368404-d9b0e7713bdb.jpeg" heading="Empower" paragraph="Innovate with cutting-edge technology that ensures a seamless and exhilarating NFT experience."/>
    <Card type="inspiration" img="/images/photo-1653634220983-9cc7d986fdd3.jpeg" heading="Empower" paragraph="Discover a treasure trove of NFT collections that redefine the art landscape."/>
    <Card type="inspiration" img="/images/photo-1643101447864-1761ac8414cd.jpeg" heading="Empower" paragraph="Explore the uncharted territories of the NFT universe and uncover hidden gems waiting to be admired."/>
    <Card type="inspiration" img="/images/photo-1653393139624-a744a3146c88.jpeg" heading="Empower" paragraph="Engage in interactive events and auctions that bring the NFT community together in thrilling ways."/>
</section>