---
import Heading from "../Heading/Heading";
---

<section class="text-text-light dark:text-text-dark grid grid-cols-1 lg:grid-cols-3 gap-10 container mx-auto p-16">
    <div>
        <Heading text="NFT Insights & Trends"/>
        <p class="text-xl">Stay ahead with our in-depth analysis of the latest trends and developments in the NFT marketplace.</p>
    </div>
    <div class="col-span-1 lg:col-span-2">
        <img class="rounded-3xl" src="/images/photo-1650959828226-f9d53a7c1f64.jpeg" alt="" />
    </div>
</section>