---
import Accordion from "../Accordion/Accordion";
---

<section class="text-text-light dark:text-text-dark bg-background-light dark:bg-background-dark w-full p-16 flex flex-col items-center justify-center">
    <h2 class="text-2xl lg:text-6xl font-bold mb-4 text-center">Got Questions? We've Got Answers!</h2>
    <div class="container flex flex-col items-center">
        <Accordion heading="How do I start trading NFTs?" body="To start trading NFTs on NFTropolis, simply create an account and explore the marketplace filled with unique digital assets waiting for you!"/>
        <Accordion heading="Is my collection secure on NFTropolis?" body="Absolutely! NFTropolis employs top-notch security measures to ensure your NFT collection is safe and sound at all times."/>
        <Accordion heading="Can I sell my own NFTs on NFTropolis?" body="Of course! NFTropolis welcomes creators to showcase and sell their NFT creations to a global audience of art enthusiasts and collectors."/>
        <Accordion heading="What payment methods are accepted?" body="NFTropolis supports a variety of payment methods including major cryptocurrencies like Ethereum and Bitcoin for seamless transactions."/>
        <Accordion heading="How can I contact support for assistance?" body="Our dedicated support team is available 24/7 to assist you with any queries or issues you may encounter on NFTropolis."/>
    </div>
</section>