---
import Card from "../Card/Card";
import Heading from "../Heading/Heading";
---

<section class="bg-white dark:bg-background-dark text-text-light dark:text-text-dark p-10 text-center">
    <Heading text="Exciting Events"/>
    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4  gap-10 items-center">
        <Card type="event" img="/images/photo-1644363832001-0876e81f37a9.jpeg" heading="NFTropolis Launch Party" subHeading="March 10, 2024" paragraph="Join us for a night of NFT extravaganza, music, and surprises! Get ready to dive into the NFT universe like never before."/>
        <Card type="event" img="/images/photo-1645731505977-91e1fa9a3254.jpeg" heading="NFT Masterclass Workshop" subHeading="March 15, 2024" paragraph="Learn the secrets of NFT creation and investment from industry experts. Unleash your NFT potential!"/>
        <Card type="event" img="/images/photo-1653634223765-3efdf256de70.jpeg" heading="NFTropolis Art Exhibition" subHeading="March 20, 2024" paragraph="Experience the mesmerizing world of NFT art. Immerse yourself in creativity and innovation like never before!"/>
        <Card type="event" img="/images/photo-1644952354935-0bc0d25a9996.jpeg" heading="NFTropolis Crypto Party" subHeading="March 25, 2024" paragraph="Dance the night away with fellow crypto enthusiasts. Let's celebrate the fusion of art and technology in style!"/>
    </div>
</section>