---
import Heading from "../Heading/Heading";
---

<section class="text-text-light dark:text-text-dark grid grid-cols-1 xl:grid-cols-3 gap-10 container mx-auto p-16">
    <div>
        <Heading text="Educational Resources"/>
        <p class="text-xl">Unlock the power of NFTs and blockchain technology with our informative resources.</p>
    </div>
    <div class="col-span-1 lg:col-span-2">
        <img class="rounded-3xl" src="/images/photo-1653393139627-82b76849cee0.jpeg" alt="Educational Image">
    </div>
</section>