---
import Card from "../Card/Card";
import Heading from "../Heading/Heading";
---

<section class="bg-white dark:bg-background-dark text-text-light dark:text-text-dark p-10 text-center">
    <Heading text="Meet Our Team"/>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-10 items-center">
        <Card type="member" img="/images/photo-1543965170-4c01a586684e.jpeg" heading="Maxwell Stone" subHeading="Chief NFT Officer"/>
        <Card type="member" img="/images/photo-1525614686090-7a3108e3758e.jpeg" heading="Maxwell Stone" subHeading="Chief NFT Officer"/>
        <Card type="member" img="/images/photo-1578161456171-a346107c3dcf.jpeg" heading="Maxwell Stone" subHeading="Chief NFT Officer"/>
        <Card type="member" img="/images/photo-1581803118522-7b72a50f7e9f.jpeg" heading="Maxwell Stone" subHeading="Chief NFT Officer"/>
    </div>
</section>
