---
import Heading from "../Heading/Heading";
---

<section class="bg-background-light dark:bg-background-dark text-text-light dark:text-text-dark">
    <div class="flex justify-center items-center container mx-auto p-8">
        <div class="bg-white dark:bg-background-dark dark:border-2 dark:border-gray-200 rounded-3xl max-w-6xl">
            <div class="p-8">
                <Heading text="Our Mission: Unleash Creativity"/>
                <p class="mb-4 text-xl">
                    Welcome to NFTropolis, the pulsating heart of the NFT world where creators reign supreme and collectors find treasures beyond imagination.
                </p>
                <p class="mb-4 text-xl">Join our vibrant community where innovation meets artistry, and every pixel tells a story waiting to be discovered.</p>
                <p class="mb-4 text-xl">At NFTropolis, we believe in empowering visionaries to shape the future of digital art and redefine the boundaries of creativity.</p>
            </div>
            <img class="rounded-3xl" src="/images/photo-1642525027649-00d7397a6d4a.jpeg" alt="">
        </div>
    </div>
</section>