.bg_dark::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}

.motion_div {
    @apply absolute -z-20 bg-coins-image bg-no-repeat bg-center bg-cover h-screen w-full top-0
}