---
import Button from "../Button/Button";
import Heading from "../Heading/Heading";
---

<section class="bg-secondary-light dark:bg-secondary-dark text-white text-center p-16 flex flex-col items-center justify-center">
    <div class="container mx-auto">
        <Heading text="Join the NFT Revolution Today!"/>
        <p class="text-xl mb-6">Explore, Create, and Collect NFTs with NFTropolis. Your gateway to the NFT universe!</p>
        <Button variant="primary" text="Get Started"/>
    </div>
</section>