---
import Card from "../Card/Card";
import Heading from "../Heading/Heading";
---

<section class="text-text-light dark:text-text-dark container mx-auto p-16 text-center">
    <Heading text="Collaborate for Success"/>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-5">
        <Card type="collab" heading="Partnerships" paragraph="Explore our exciting collaborations that elevate the NFTropolis experience to new heights."/>
        <Card type="collab" heading="Innovate" paragraph="Discover innovative features and tools designed to enhance your NFT journey on NFTropolis."/>
        <Card type="collab" heading="Connect" paragraph="Connect with a thriving community of NFT creators, collectors, and enthusiasts on NFTropolis."/>
    </div>
</section>
