---
import Card from "../Card/Card";
---

<section class="text-text-light dark:text-text-dark p-10 text-center">
    <h2 class="text-6xl font-bold mb-4">
        Discover Our Mind-Blowing NFT Collection
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 items-center">
        <Card type="collection" img="/images/photo-1642388755321-d6665f3ac3b6.jpeg" heading="Cosmic Dreams NFT" subHeading="$99" paragraph="Embark on a journey through the cosmos with this mesmerizing NFT artwork." />
        <Card type="collection" img="/images/photo-1642388813992-f12b04ba3db0.jpeg" heading="Pixel Pioneers NFT" subHeading="$79" paragraph="Dive into the retro-futuristic world of pixelated wonders." />
        <Card type="collection" img="/images/photo-1646495859894-2717409cd306.jpeg" heading="Crypto Creatures NFT" subHeading="$129" paragraph="Unleash the power of mythical creatures in the blockchain realm." />
        <Card type="collection" img="/images/photo-1649274496773-c40eacd66e2d.jpeg" heading="Neon Nights NFT" subHeading="$89" paragraph="Experience the electrifying glow of neon art in the digital age." />
        <Card type="collection" img="/images/photo-1653393139359-b6743b96c4f6.jpeg" heading="Space Oddities NFT" subHeading="$109" paragraph="Explore the bizarre and captivating world of space oddities." />
        <Card type="collection" img="/images/photo-1659710173823-b4362e0ab9c7.jpeg" heading="Fantasy Realms NFT" subHeading="$139" paragraph="Step into enchanting realms where fantasy meets reality." />
    </div>
</section>
