---
import Card from "../Card/Card";
---

<section class="text-text-light dark:text-text-dark p-10 container mx-auto lg:w-1/2">
    <h2 class="text-center text-6xl font-bold mb-4">Get in Touch</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
        <Card type="contact" heading="Phone" subHeading="+1-800-NFTROPOLIS"></Card>
        <Card type="contact" heading="Email" subHeading="info@nftropolis.com"></Card>
        <Card type="contact" heading="Address" subHeading="Kharkiv Ukraine"></Card>
        <Card type="contact" heading="Working Hours" subHeading="Mon-Fri: 9am-6pm"></Card>
    </div>
</section>